/* Formatting */

body {
		color: #94A6A2;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    margin: 20px;
}

#title {
	color: #6C7A78;
}

/* Link opacity */

a {
	opacity: 1.0;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
}

a:hover {
	opacity: 0.5;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

/* Link formatting */

a:link {
	color: #73817E;
	font-weight: 600;
	text-decoration: none;
}

a:visited {
	color: #73817E;
}

/* Audio player formatting */

#track {
	color: #264656;
	opacity: 0.7;
}

#track-list {
	line-height: 1.5;
}

#player {
	width: 75px;
	height: -50px;
	position: absolute;
	left: 180px;
	vertical-align: middle;
}
