/* Formatting */

body {
	color: #705a39;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    text-align: center;
}

#title {
	color: #897e6b;
}

#story {
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* Link opacity */

a {
	opacity: 1.0;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
}

a:hover {
	opacity: 0.5;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

/* Link formatting */

a:link {
	color: #827562;
	font-weight: 600;
	text-decoration: none;
}

a:visited {
	color: #a39785;
}
